* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.hero {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #98C3E8), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
  opacity: 0.2;
  height: 376px;
  width: 100vw;
  position: absolute;
}

.center {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  height: 376px;
  position: relative;
}

.heading {
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  padding-top: 28px;
  margin: 0 auto;
  width: 320px;
  color: #1F3F68;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
  margin-top: 12px;
}

.bgi_img {
  display: none;
}

.ourProject {
  display: block;
  width: 108px;
  height: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  background-color: #5a98d0;
  margin: 0 auto;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  margin-top: 32px;
}

.promo, .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promo__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.card {
  max-width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-direction: columns;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin: 5% auto;
}

.card__img {
  width: 160px;
  height: 112px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .hero {
    height: 768px;
  }
  .center {
    padding-left: 32px;
    padding-right: 32px;
  }
  .content {
    height: 700px;
  }
  .heading {
    text-align: left;
    margin: 0;
    font-size: 64px;
    line-height: 74px;
    min-width: 650px;
    margin-top: 112px;
    margin-left: calc( (100vw - 768px) / 2.5);
  }
  .text {
    text-align: left;
    margin-top: 31px;
    width: 425px;
    margin-left: calc( (100vw - 768px) / 2.5);
  }
  .bgi_img {
    display: block;
    position: absolute;
    width: 336px;
    height: 293px;
    right: calc( (100vw - 768px) / 3);
    top: calc( ((100vw - 768px) / 100) + 280px);
  }
  .ourProject {
    width: 220px;
    height: 56px;
    margin: 0;
    margin-top: 73px;
    padding-top: 15px;
    font-size: 16px;
    letter-spacing: 0.04em;
    margin-left: calc( (100vw - 768px) / 2.5);
  }
}

@media (min-width: 1366px) {
  .center {
    padding-left: calc( 50% - 570px);
    padding-right: calc( 50% - 570px);
  }
  .heading,
  .text,
  .ourProject {
    margin: 0;
  }
  .heading {
    margin-top: 100px;
  }
  .text {
    margin-top: 32px;
  }
  .bgi_img {
    width: 554px;
    height: 480px;
    top: 30px;
    margin-right: calc( (100vw - 1440px) / 8);
  }
  .ourProject {
    margin-top: 71px;
  }
}
/*# sourceMappingURL=style.css.map */