$siteColor: #1F3F68
$BGCColor: $siteColor +#3B5968
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    
    
body
    
    font-family: 'Roboto', sans-serif
    position: relative

.hero
    background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%)
    opacity: 0.2
    height: 376px
    width: 100vw
    position: absolute

.center
    padding-left: 15px
    padding-right: 15px

.header
    display: flex
    justify-content: space-between
    align-items: center

.content
    height: 376px
    position: relative

.heading
    font-size: 32px
    line-height: 37px
    text-align: center
    letter-spacing: 0.04em    
    padding-top: 28px
    margin: 0 auto
    width: 320px
    color: $siteColor

.text
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 26px
    text-align: center
    letter-spacing: 0.05em
    color: $siteColor
    opacity: 0.6
    margin-top: 12px

.bgi_img
    display: none

.ourProject__button
    display: block
    width: 108px
    height: 27px
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 26px
    text-align: center
    color: #FFFFFF
    background-color: $BGCColor
    margin: 0 auto
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2)
    border-radius: 10px
    margin-top: 32px


.promo
    display: flex
    flex-direction: column

    &__heading
        font-style: normal
        font-weight: normal
        font-size: 24px
        line-height: 28px
        text-align: center
        letter-spacing: 0.05em
        color: #000000
        margin-bottom: 32px
        

.cards
    display: flex
    flex-direction: column
    
     
.card
    @extend .promo
    display: flex
    max-width: 335px
    justify-direction: columns
    align-items: left
    background: #FFFFFF
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2)
    border-radius: 10px
    margin: 0px auto 32px auto
    padding: 0px 30px 21px 30px

  
    &_1
        background-image: url("img/1.png")
        background-repeat: no-repeat
        background-position: 65px 40px
    
    &_2
        background-image: url("img/2.png"),url("img/2_2.png")
        background-repeat: no-repeat
        background-position: 110px 40px, 60px 11px

    &_3
        background-image: url("img/3.png")
        background-repeat: no-repeat
        background-position: 75px 40px
        

    &__heading
        margin-top: 48px
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 30px        
        letter-spacing: 0.05em
        color: #1F3F68
        margin-top: 200px
        margin-bottom: 13px

    &__text
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 26px
        letter-spacing: 0.05em
        color: #1F3F68
        opacity: 0.6

    &__link
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 30px
        letter-spacing: 0.05em
        color: #5A98D0
        margin-top: 46px
        text-decoration: none

        & i
            font-size: 11px

.ourProject__promo
    position: relative
    display: flex


.promo__link
    height: 145px
    border-radius: 10px

    &:hover .rectangle
        display: block
        z-index: 2
        


    &_img 
        width: 100%
        position: absolute
        background: linear-gradient(314.07deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%)
        border-radius: 10px



    &_top        
        background: url('img/line_s.png') no-repeat, linear-gradient(314.07deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%), url('img/smart_home_img_s.png') no-repeat,


.rectangle
    display: none
    width: 100%
    position: absolute

.rectangle_line
    width: 40%


@media ( min-width: 768px )

    .hero
        height: 768px

    .center
        padding-left: 32px
        padding-right: 32px

    .content
        height: 700px

    .heading
        text-align: left
        margin: 0
        font-size: 64px
        line-height: 74px
        min-width: 650px
        margin-top: 112px
        margin-left: calc( (100vw - 768px) / 2.5)

    .promo__heading
        margin-bottom: 64px

    
    .text
        text-align: left
        margin-top: 31px
        width: 425px
        margin-left: calc( (100vw - 768px) / 2.5)

    .bgi_img
        display: block
        position: absolute
        width: 336px
        height: 293px
        right: calc( (100vw - 768px) / 3)
        top: calc( ((100vw - 768px) / 100) + 280px)

    .ourProject__link
        width: 220px
        height: 56px
        margin: 0
        margin-top: 73px
        padding-top: 15px
        font-size: 16px
        letter-spacing: 0.04em
        margin-left: calc( (100vw - 768px) / 2.5)

@media ( min-width: 1366px )

    .center
        padding-left: calc( 50% - 570px )
        padding-right: calc( 50% - 570px )

    .heading,
    .text,    
    .ourProject__link
        margin: 0

    .heading
        margin-top: 100px

    .text
        margin-top: 32px


    .bgi_img
        width: 554px
        height: 480px
        top: 30px
        margin-right: calc( (100vw - 1440px) / 8) 

    .ourProject__link
        margin-top: 71px

    .promo__heading
        margin-bottom: 64px

    .cards
        flex-direction: row

    .card
        max-width: 360px
